*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.4;
}

html {
    font-size: 10px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    background-color: hsl(210, 46%, 95%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 120rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "one one two three"
    "four five five three";
    gap: 3rem;
}

main .cont {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px hsl(0, 0%, 81%);
}

main .one {
    grid-area: one;
    background-color: hsl(263, 55%, 52%);
    position: relative;
    z-index: -2;
}

main .one img {
    border: 2px solid hsl(263, 77%, 66%);
}

main .one::before {
    content: url(images/bg-pattern-quotation.svg);
    position: absolute;
    top: 0;
    right: 10rem;
    z-index: -1;
}

main .two {
    grid-area: two;
    background-color: hsl(217, 19%, 35%);
}

main .three {
    grid-area: three;
    background-color: hsl(0, 0%, 100%);
}

main .four {
    grid-area: four;
    background-color: hsl(0, 0%, 100%);
}

main .five {
    grid-area: five;
    background-color: hsl(219, 29%, 14%);
}

main .five img {
    border: 2px solid hsl(263, 55%, 52%);
}

main .one h3, main .two h3, main .five h3 {
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
}

main .one .graduate, main .two .graduate, main .five .graduate {
    color: hsla(0, 0%, 100%, 0.5);
    font-weight: 500;
}

main .one h1, main .two h1, main .five h1 {
    font-size: 2.2rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}
main .one .desc, main .two .desc, main .five .desc {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 1.4rem;
    font-weight: 500;
}

main .three h3, main .four h3 {
    font-size: 1.3rem;
    color: hsl(217, 19%, 35%);
}

main .three .graduate, main .four .graduate {
    color: hsla(217, 19%, 35%, 0.5);
    font-weight: 500;
}

main .three h1, main .four h1 {
    color: hsl(217, 19%, 35%);
    font-size: 2.2rem;
    font-weight: 700;
}

main .three .desc, main .four .desc {
    color: hsla(217, 19%, 35%, 0.7);
    font-size: 1.4rem;
    font-weight: 500;
}

main .cont .person {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
}

main .person img {
    width: 30px;
    border-radius: 50%;
}

@media (max-width: 75rem) {
    body {
        padding: 40px 0px;
    }
    
    main {
        width: fit-content;
        grid-template-columns: repeat(2, 300px);
        grid-template-areas: "one two"
        "one four"
        "three five"
        "three five";
        place-content: center;
    }
}

@media (max-width: 40.625rem) {
    body {
        padding: 40px 20px;
    }
    
    main {
        grid-template-columns: auto;
        grid-template-areas: "one"
        "two"
        "three"
        "four"
        "five";
        place-content: center;
    }
}
